Source: curl
Section: web
Priority: optional
Maintainer: Taeksu Shin <taeksu.shin@samsung.com>, Dongwook Lee <dwmax.lee@samsung.com>
Uploaders: Taeksu Shin <taeksu.shin@samsung.com>, Dongwook Lee <dwmax.lee@samsung.com>
X-Original-Maintainer: Ramakrishnan Muthukrishnan <rkrishnan@debian.org>
Build-Depends: debhelper (>> 5), autoconf, libtool, automake1.9, binutils (>= 2.14.90.0.7), libssl-dev, zlib1g-dev, libidn11-dev, groff-base, libc-ares-dev
Build-Conflicts: autoconf2.13, automake1.4
Standards-Version: 3.9.1
Vcs-Browser: http://git.debian.org/?p=collab-maint/curl.git
Vcs-Git: git://git.debian.org/collab-maint/curl.git
Homepage: http://curl.haxx.se

Package: libcurl3
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}, ca-certificates
Replaces: libcurl2 (<< 1:7.11.2-2), libcurl4
Conflicts: libcurl4
Description: Multi-protocol file transfer library (OpenSSL)
 libcurl is designed to be a solid, usable, reliable and portable
 multi-protocol file transfer library.
 .
 SSL support is provided by OpenSSL.
 .
 This is the shared version of libcurl.

Package: libcurl4-openssl-dev
Architecture: any
Section: libdevel
Suggests: libcurl3-dbg
Provides: libcurl-ssl-dev, libcurl3-openssl-dev, libcurl3-dev
Replaces: libcurl-ssl-dev, libcurl3-openssl-dev, libcurl3-dev (<< 7.14.1-1)
Depends: libcurl3 (= ${binary:Version}), libc6-dev | libc-dev, libssl-dev, zlib1g-dev, libidn11-dev, ${misc:Depends}
Description: Development files and documentation for libcurl (OpenSSL)
 These files (ie. includes, static library, manual pages) allow to
 build software which uses libcurl.
 .
 SSL support is provided by OpenSSL.
 .
 HTML and PDF versions of all the manual pages are also provided.

Package: libcurl3-dbg
Architecture: any
Section: debug
Priority: extra
Suggests: libc-dbg
Provides: libcurl4-dbg
Replaces: libcurl4-dbg
Conflicts: libcurl4-dbg
Depends: libcurl3 (= ${binary:Version})
Description: libcurl compiled with debug symbols
 This contains the debug symbols of both the OpenSSL, GnuTLS and NSS versions
 of libcurl3. It might be useful in debug sessions of software which uses
 libcurl.

Package: libcurl
Architecture: any
Section: libs
Depends: libcurl3 (= ${binary:Version}), ${misc:Depends}
Description: Transitional meta-package for libcurl
 libcurl is designed to be a solid, usable, reliable and portable
 multi-protocol file transfer library.
 .
 This is transitional meta-package depending on libcurl3.

Package: libcurl-dev
Architecture: any
Section: libdevel
Depends: libcurl4-openssl-dev (= ${binary:Version}), ${misc:Depends}
Description: Transitional meta-package for libcurl
 libcurl is designed to be a solid, usable, reliable and portable
 multi-protocol file transfer library.
 .
 This is transitional meta-package depending on libcurl4-openssl-dev.
